<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Clientes</title>
  </head>
  <body>
    <h1>Lista de Clientes</h1>

    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}


    <a href=" {% url 'index' %}">Voltar</a>
    
    <table border="1" cellpadding="5" cellspacing="3">
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>CPF</th>
        <th>Data Nascimento</th>
        <th>Acoes</th>
      </tr>
      {% for cliente in clientes %}

      <tr>
        <td>{{ cliente.nome }}</td>
        <td>{{ cliente.email }}</td>
        <td>{{ cliente.telefone }}</td>
        <td>{{ cliente.cpf }}</td>
        <td>{{ cliente.data_nascimento|date:"d/m/Y" }}</td>
        <td><a href ="{% url 'clientes_editar' cliente.id %}">Editar</a> | <a href="{% url 'desativar_cliente' cliente.id %}">Desativar</a></td>
      </tr>

      {% endfor %}  
    </table>

    <a href> Desativados </a>

    <div><a href="{% url 'clientes_cadastrar' %}"> Cadastrar novo Cliente </a></div>
  </body>
</html>
