<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Clientes</title>
</head>

<body>

  <p><a href=" {% url 'index' %}">Voltar</a></p>

  {% if ativos %}
  <h1>Alunos ativos</h1>
  {% else %}
  <h1>Alunos inativos</h1>
  {% endif %}


  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>
      {{ message }}
    </li>
    {% endfor %}
  </ul>
  {% endif %}

  <table border="1" cellpadding="5" cellspacing="3">
    <tr>
      {% if ativos %}
      <th><a href="{% url 'clientes' 'nome' %}">Nome</a></th>
      <th><a href="{% url 'clientes' 'data_nascimento' %}">Data Nascimento</a></th>
      {% else %}
      <th><a href="{% url 'clientes_inativos' 'nome' %}">Nome</a></th>
      <th><a href="{% url 'clientes_inativos' 'data_nascimento' %}">Data Nascimento</a></th>
      {% endif %}
      <th>Email</th>
      <th>Telefone</th>
      <th>CPF</th>
      <th>Acoes</th>
    </tr>

    {% for cliente in clientes %}
    <tr>
      <td>{{ cliente.nome }}</td>
      <td>{{ cliente.data_nascimento|date:"d/m/Y" }}</td>
      <td>{{ cliente.email }}</td>
      <td>{{ cliente.telefone }}</td>
      <td>{{ cliente.cpf }}</td>
      <td>
        {% if ativos %}
        <a href="{% url 'clientes_editar' cliente.id %}">Editar</a>
        <a href="{% url 'desativar_cliente' cliente.id %}">Desativar</a>
        {% else %}
        <a href="{% url 'ativar_cliente' cliente.id %}">Ativar</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}

  </table>


  {% if ativos %}
  <p><a href="{% url 'clientes_inativos' 'nome' %}">Mostrar inativos</a></p>

  <div><a href="{% url 'clientes_cadastrar' %}">Cadastrar novo cliente</a></div>
  {% else %}
  <p><a href="{% url 'clientes' 'nome' %}">Mostrar ativos</a></p>
  {% endif %}


</body>

</html>