{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container-sm mt-5">
  <h1 class="text-center">Cadastro de imóvel</h1>
</div>

<div class="container my-3">
  <div class="row">
    <div class="col-6 mx-auto">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}

        <div class="d-flex flex-column gap-4 mt-5">
          <button type="submit" class="btn btn-success">Cadastrar</button>
          <button type="reset" class="btn btn-info">Limpar</button>
        </div>
      </form>
    </div>
  </div>
</div>


{% endblock %}