{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container-sm mt-5">
  <h1>Editar funcionário {{ imovel.nome }}</h1>
</div>
<p class="text-info">OBS: Essa tela só pode ser acessada pelo administrador do site, o correto seria nao ter ela</p>

<div class="container my-3">
  <div class="row">
    <div class="col-6 mx-auto">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}

        <button type="submit" class="btn btn-success">Editar</button>
        <a href="{% url 'imoveis:lista' 'nome' %}"><button type="button" class="btn btn-info">Cancelar</button></a>
      </form>
    </div>
  </div>
</div>
{% endblock %}