{% extends 'base.html' %}

{% block content %}
<div class="container-sm mt-5">
    <h1 class="h1">Lista de reservas</h1>
</div>
<div class="container-sm mt-2">
    <div class="bg-dark rounded-3 overflow-hidden">
        <table cellpadding="5" cellspacing="1" class="table table-dark table-striped mb-0">
            <thead>
                <tr>
                    <th>Imóvel</th>
                    <th>Cliente</th>
                    <th>Funcionário</th>
                    <th>Início</th>
                    <th>Fim</th>
                    <th>Finalizadou</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                {% for reserva in reservas %}
                <tr>
                    <td>{{ reserva.imovel }}</td>
                    <td>{{ reserva.cliente }}</td>
                    <td>{{ reserva.funcionario }}</td>
                    <td>{{ reserva.data_inicio|date:"d/m/Y" }}</td>
                    <td>{{ reserva.data_fim|date:"d/m/Y" }}</td>

                    {% if imovel.disponivel %}
                    <td>Disponivel</td>
                    {% else %}
                    <td>Indisponivel</td>
                    {% endif %}

                    <td><a href="#">Cancelar reserva</a></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7">Nenhuma reserva cadastrada.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="container-sm mt-5">
    <a href="{% url 'imoveis:cadastrar_reserva' %}">Cadastrar reserva</a>
</div>
{% endblock %}