<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Imóveis</title>
</head>

<body>

  <p><a href="{% url 'index' %}">Voltar</a></p>

  {% if ativos %}
  <h1>Imóveis ativos</h1>
  {% else %}
  <h1>Imóveis inativos</h1>
  {% endif %}

  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>
      {{ message }}
    </li>
    {% endfor %}
  </ul>
  {% endif %}

  <table border="1" cellpadding="5" cellspacing="3">
    <tr>
      {% if ativos %}
      <th><a href="{% url 'imoveis' 'nome' %}">Nome</a></th>
      <th><a href="{% url 'imoveis' 'tipo' %}">Tipo</a></th>
      <th><a href="{% url 'imoveis' 'endereco' %}">Endereco</a></th>
      <th><a href="{% url 'imoveis' 'cidade' %}">Cidade</a></th>
      <th><a href="{% url 'imoveis' 'estado' %}">Estado</a></th>
      <th><a href="{% url 'imoveis' 'disponivel' %}">Disponibilidade</a></th>
      {% else %}
      <th><a href="{% url 'imoveis_inativos' 'nome' %}">Nome</a></th>
      <th><a href="{% url 'imoveis_inativos' 'tipo' %}">Tipo</a></th>
      <th><a href="{% url 'imoveis_inativos' 'endereco' %}">Endereco</a></th>
      <th><a href="{% url 'imoveis_inativos' 'cidade' %}">Cidade</a></th>
      <th><a href="{% url 'imoveis_inativos' 'estado' %}">Estado</a></th>
      <th><a href="{% url 'imoveis_inativos' 'disponivel' %}">Disponibilidade</a></th>
      {% endif %}
      <th>Acoes</th>
    </tr>

    {% for imovel in imoveis %}
    <tr>
      <td>{{ imovel.nome }}</td>
      <td>{{ imovel.get_tipo_display }}</td>
      <td>{{ imovel.endereco }}</td>
      <td>{{ imovel.cidade }}</td>
      <td>{{ imovel.get_estado_display }}</td>

      {% if imovel.disponivel %}
      <td>Disponivel</td>
      {% else %}
      <td>Indisponivel</td>
      {% endif %}

      <td>
        {% if ativos %}
        <a href="{% url 'imoveis_editar' imovel.id %}">Editar</a>
        <a href="{% url 'desativar_imovel' imovel.id %}">Desativar</a>
        {% else %}
        <a href="{% url 'ativar_imovel' imovel.id %}">Ativar</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}

  </table>


  {% if ativos %}
  <p><a href="{% url 'imoveis_inativos' 'nome' %}">Mostrar inativos</a></p>
  <div><a href="{% url 'imoveis_cadastrar' %}">Cadastrar novo imóvel</a></div>
  {% else %}
  <p><a href="{% url 'imoveis' 'nome' %}">Mostrar ativos</a></p>
  {% endif %}


</body>

</html>