<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Reservas</title>
</head>

<body>

  <p><a href="{% url 'index' %}">Voltar</a></p>

  {% if ativos %}
  <h1>Reservas ativas</h1>
  {% else %}
  <h1>Reservas inativas</h1>
  {% endif %}

  {% if reservas %}
  <h2>Total de Reservas: {{ reservas|length }}</h2>
  {% else %}
  <h2>Nenhuma reserva encontrada.</h2>
  {% endif %}

  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>
      {{ message }}
    </li>
    {% endfor %}
  </ul>
  {% endif %}

  <p>
  <form method="get">
    <input type="text" name="busca" placeholder="Buscar por nome do cliente" value="{{ query|default:'' }}">
    <button type="submit">Buscar</button>
  </form>
  </p>

  <table border="1" cellpadding="5" cellspacing="3">
    <tr>
      {% if ativos %}
      <th><a href="{% url 'reservas' 'imovel' %}?busca={{ query }}">Imóvel</a></th>
      <th><a href="{% url 'reservas' 'cliente' %}?busca={{ query }}">Cliente</a></th>
      <th><a href="{% url 'reservas' 'funcionario' %}?busca={{ query }}">Funcionário</a></th>
      <th><a href="{% url 'reservas' 'data_inicio' %}?busca={{ query }}">Data Inicial</a></th>
      <th><a href="{% url 'reservas' 'data_fim' %}?busca={{ query }}">Data Final</a></th>
      {% else %}
      <th><a href="{% url 'reservas_inativas' 'imovel' %}?busca={{ query }}">Imóvel</a></th>
      <th><a href="{% url 'reservas_inativas' 'cliente' %}?busca={{ query }}">Cliente</a></th>
      <th><a href="{% url 'reservas_inativas' 'funcionario' %}?busca={{ query }}">Funcionário</a></th>
      <th><a href="{% url 'reservas_inativas' 'data_inicio' %}?busca={{ query }}">Data Inicial</a></th>
      <th><a href="{% url 'reservas_inativas' 'data_fim' %}?busca={{ query }}">Data Final</a></th>
      {% endif %}
      <th>Acoes</th>
    </tr>

    {% for reserva in reservas %}
    <tr>
      <td>{{ reserva.imovel }}</td>
      <td>{{ reserva.cliente }}</td>
      <td>{{ reserva.funcionario }}</td>
      <td>{{ reserva.data_inicio|date:"d/m/Y" }}</td>
      <td>{{ reserva.data_fim|date:"d/m/Y" }}</td>
      <td>
        {% if ativos %}
        <a href="{% url 'reservas_editar' reserva.id %}">Editar</a>
        <a href="{% url 'desativar_reserva' reserva.id %}">Desativar</a>
        {% else %}
        <a href="{% url 'ativar_reserva' reserva.id %}">Ativar</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}

  </table>

  {% if ativos %}
  <p><a href="{% url 'reservas_inativas' 'cliente' %}">Mostrar inativas</a></p>
  <div><a href="{% url 'reservas_cadastrar' %}">Cadastrar nova reserva</a></div>
  {% else %}
  <p><a href="{% url 'reservas' 'cliente' %}">Mostrar ativas</a></p>
  {% endif %}


</body>

</html>