<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imobiliária</title>
</head>

<body>
    <h1>Bem-vindo à Imobiliária</h1>
    <p>Esta é a página inicial do site da imobiliária.</p>


    <ul>
        <li><a href="{% url 'funcionarios' 'nome' %}">Listar funcionários</a></li>
        <li><a href="{% url 'imoveis' 'nome' %}">Listar imóveis</a></li>
        <li><a href="{% url 'clientes' 'nome' %}">Listar clientes</a></li>
        <li><a href="{% url 'reservas' %}">Listar reservas</a></li>
    </ul>
</body>

</html>