{% extends 'base.html' %}

{% load heroicons %}

{% load format_filters %}

{% block content %}

{% include 'partials/_busca.html' %}


<div class="container-sm mt-5 d-flex justify-content-between align-items-center">
    <h1 class="h1">Lista de funcionarios</h1>

    <div class="d-flex gap-4">
        {% if ativos %}
        <a href="{% url 'funcionarios:lista_inativos' 'nome' %}" class="btn btn-light">Mostrar funcionários inativos</a>
        {% else %}
        <a href="{% url 'funcionarios:lista' 'nome' %}" class="btn btn-light">Mostrar
            funcionários ativos</a>
        {% endif %}

        <a href="{% url 'funcionarios:cadastrar' %}" class="btn btn-light">{% heroicon_outline "pencil-square" %}
            Cadastrar
            funcionário</a>
    </div>
</div>

<div class="container-sm mt-2">
    <div class="bg-dark rounded-3 overflow-hidden">
        <table cellpadding="5" cellspacing="1" class="table table-dark table-striped mb-0">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                {% for funcionario in funcionarios %}
                <tr>
                    <td>{{ funcionario.nome }}</td>
                    <td>{{ funcionario.email }}</td>
                    <td>{{ funcionario.telefone|format_telefone }}</td>
                    <td class="d-flex gap-4">
                        <a href="{% url 'funcionarios:editar' funcionario.id %}" class="text-warning">
                            {% heroicon_outline "pencil-square" %}
                        </a>

                        {% if ativos %}
                        <a href="{% url 'funcionarios:desativar' funcionario.id %}" class="text-danger">
                            {% heroicon_outline "lock-closed" %}
                        </a>
                        {% else %}
                        <a href="{% url 'funcionarios:ativar' funcionario.id %}" class="text-success">
                            {% heroicon_outline "lock-open" %}
                        </a>
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">Nenhum funcionario cadastrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}