<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Funcionários</title>
</head>

<body>

  <p><a href="{% url 'index' %}">Voltar</a></p>

  {% if ativos %}
  <h1>Funcionários ativos</h1>
  {% else %}
  <h1>Funcionários inativos</h1>
  {% endif %}


  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>
      {{ message }}
    </li>
    {% endfor %}
  </ul>
  {% endif %}

  <p>
  <form method="get">
    <input type="text" name="busca" placeholder="Buscar por nome" value="{{ query|default:'' }}">
    <button type="submit">Buscar</button>
  </form>
  </p>

  <table border="1" cellpadding="5" cellspacing="3">
    <tr>

      {% if ativos %}
      <th><a href="{% url 'funcionarios' 'nome' %}?busca={{ query }}">Nome</a></th>
      <th><a href="{% url 'funcionarios' 'cargo' %}?busca={{ query }}">Cargo</a></th>
      {% else %}
      <th><a href="{% url 'funcionarios_inativos' 'nome' %}?busca={{ query }}">Nome</a></th>
      <th><a href="{% url 'funcionarios_inativos' 'cargo' %}?busca={{ query }}">Cargo</a></th>
      {% endif %}

      <th>Email</th>
      <th>Telefone</th>
      <th>Acoes</th>
    </tr>

    {% for funcionario in funcionarios %}
    <tr>
      <td>{{ funcionario.nome }}</td>
      <td>{{ funcionario.get_cargo_display }}</td>
      <td>{{ funcionario.email }}</td>
      <td>{{ funcionario.telefone }}</td>
      <td>
        {% if ativos %}
        <a href="{% url 'funcionarios_editar' funcionario.id %}">Editar</a>
        <a href="{% url 'desativar_funcionario' funcionario.id %}">Desativar</a>
        {% else %}
        <a href="{% url 'ativar_funcionario' funcionario.id %}">Ativar</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}

  </table>

  {% if ativos %}
  <p><a href="{% url 'funcionarios_inativos' 'nome' %}">Mostrar inativos</a></p>
  <div><a href="{% url 'funcionarios_cadastrar' %}">Cadastrar novo funcionário</a></div>
  {% else %}
  <p><a href="{% url 'funcionarios' 'nome' %}">Mostrar ativos</a></p>
  {% endif %}


</body>

</html>