{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container-sm mt-5">
  <h1>Editar quarto {{ quarto.nome }}</h1>
</div>

<div class="container my-3">
  <div class="row">
    <div class="col-6 mx-auto">
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}

        <button type="submit" class="btn btn-success">Editar</button>
        <a href="{% url 'imoveis:lista_quartos' quarto.id %}"><button type="button"
            class="btn btn-info">Cancelar</button></a>
      </form>
    </div>
  </div>
</div>
{% endblock %}