{% extends 'base.html' %}

{% block content %}
<div class="container-sm mt-5">
    <h1 class="h1">Lista de quartos</h1>
</div>
<div class="container-sm mt-2">
    <div class="bg-dark rounded-3 overflow-hidden">
        <table cellpadding="5" cellspacing="1" class="table table-dark table-striped mb-0">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Disponibilidade</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                {% for quarto in quartos %}
                <tr>
                    <td>{{ quarto.nome }}</td>

                    <!-- todo precisamos fazzer a validação certinha dos quartos disponíveis e colorir para mostrar quando está disponivel, e quando nao está -->
                    {% if quarto.disponivel %}
                    <td>Disponivel</td>
                    {% else %}
                    <td>Indisponivel</td>
                    {% endif %}
                    <td><a href="{% url 'imoveis:editar_quarto' quarto.id %}">Editar</a></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">Nenhum quarto cadastrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="container-sm mt-5">
    <a href="{% url 'imoveis:cadastrar_quarto' imovel.id %}">Cadastrar novo quarto</a>
</div>
{% endblock %}